.App {
  padding-left: 24px;
	padding-right: 24px;
}

.App-link {
  color: #61dafb;
}

/* #main-text-sect,
#main-btn-sect {
	padding-left: 150px;
	padding-right: 150px;
} */
#main-text-sect {
	max-width: 420px;
	padding-left: 18px;
}

.animate-circle-stroke {
	stroke-dasharray: 220;
  stroke-dashoffset: 0;
  animation-iteration-count: 1;
  animation-name: rotate;
  animation-duration: 5s;
  animation-timing-function: linear;
}
@keyframes rotate {
  to {
    stroke-dashoffset: 220;
  }
}

.animate-circle-stroke-less-duration {
	animation-duration: 4s !important;
}

#main-text-sect {
	font-size: 24px;
}

.node-small-circle {
	r: 10;
}
.vote-request-circle {
	fill: green;
}

.vote-ack-circle {
	fill: white;
	stroke: green;
	stroke-width: 3;
}

.leader-candidate-node,
.leader-node
 {
	 stroke: black;
	 stroke-width: 3;
}

.leader-candidate-node {
	stroke-dasharray: 4;
}

.visibility-hidden {
	visibility: hidden;
}
.visibility-visible {
	visibility: visible;
}

.pause-animation {
	-webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}

.animation-delay-2s {
	animation-delay: 2s;
}
.animation-delay-3s {
	animation-delay: 3s;
}
.animation-delay-4s {
	animation-delay: 4s;
}

.client-node {
	fill: #009900;
	r: 30;
}
.client-node-text,
.node-text {
	fill: white;
	text-anchor:middle;
	font-size: 24px;
}
.client-message {
	fill: black;
	r: 10;
}

.log-message {
	fill: red;
}
.log-message-ack {
	fill: white;
	stroke: red;
	stroke-width: 3;
}

.error-message {
	fill: black;
	content: 'X';
	color: red;
}

.set-text-uncommitted {
	fill: red;
}
.set-text-committed {
	fill: black;
}

.node-partition {
	/* r: 60; */
	fill: transparent;
	stroke-dasharray: 5;
	stroke: black;
	stroke-width: 2;
}

.ack-to-client {
	stroke: black;
	fill:transparent;
	stroke-width: 2;
}
.stale-data-text {
	fill: red;
}

#node-c-partition-wrap text {
	font-size: 14px;
}


.timer-face {
	stroke-dasharray: 189px;
	stroke-dashoffset: 0px;
	stroke: black;
}

.timer-countdown-animation {
	animation: countdown 3s linear;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 189px;

  }
}

.control-btns {
	display: inline-block;
	padding-top: 10px;
}
.yb-btn {
	width: 120px;
	height: 30px;
	border-radius: 4px;
	background: #202951;
	color: white;
	font-weight: bold;
	font-size: 16px;
	margin: 0 10px;
}
.yb-btn:not([disabled]):hover {
	background: #161C38;
	transform: scale(1.1);
}
.yb-btn:disabled {
	background: grey;
}
